* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    transition: color 0.2s;
}


p {
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
}

.container {
    max-width: 1400px;
    padding: 20px 50px;
    margin: auto;
}

.button {
    background-color: #b8460b;
    color: #fff;
    padding: 15px 25px;
    font-size: 18px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 12px;
    position: relative;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #162f24;
}

h2 {
    font-size: 45px;
    margin-bottom: 30px;
}

img {
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2);
}


/* NAVIGATION */

nav {
    background-color: #162f24;
    position: fixed;
    width: 100vw;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-title {
    display: flex;
    align-items: center;
    font-size: 25px;
}

#logo-title i {
    margin-right: 15px;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #b8460b;
}

nav ul a {
    padding: 5px;
    margin-left: 20px;
}

#nav-button{
    display: none;
    color: #fff;
    cursor: pointer;
}

/* HEADER */

header {
    background-image: url('../img/header-bg.jpg');
    padding-top: 200px;
    padding-bottom: 150px;
    background-size: cover;
    background-position: center;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}


h1 {
    color: #fff;
    font-size: 56px;
    position: relative;
}

header p {
    color: #fff;
    width: 450px;
    font-size: 18px;
    margin-top: 30px;
    position: relative;
}

/* SECTION - BRING NATURE IN YOUR HOME */

section {
    position: relative;
}

#bring-nature .container {
    display: flex;
}

#bring-nature .container div {
    width: 50%;
}

#bring-nature .container div:first-child {
    padding: 100px 100px 100px 0;
}

#bring-nature::after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #b8460b;
    left: 0;
    top: 0;
    z-index: -1;
}

#bring-nature .container div:first-child h2 {
    color: #fff;
    width: 70%;
}

#bring-nature .container div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

#bring-nature .container div:last-child img {
    width: 100%;
    border-radius: 15px;
}

/* SECTION - SERVICES */

#services {
    background-color: #f1e9d6;
    padding-top: 100px;
    padding-bottom: 20px;
}

#services .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service {
    width: 30%;
    margin-bottom: 80px;
}

.service img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.service h3 {
    color: #162f24;
    font-size: 22px;
    margin-bottom: 15px;
}

.service p {
    color: #162f24;
}

#services h2 {
    text-align: center;
}

/* SECTION - WHY CHOOSE US & FAQ */

#testimonials::after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    background-image: url(../img/satisfied-customers.jpg);
    background-position: center;
    background-size: cover;
    right: 0;
    top: 0;
    z-index: -1;
}

#testimonials::before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #000;
    right: 0;
    top: 0;
    opacity: 0.5;
}

#testimonials .container {
    display: flex;
}



#testimonials .container div {
    width: 50%;
    z-index: 1;
}

#testimonials .container div:first-child {
    padding: 100px 100px 100px 0;
    color: #162f24;
}

#testimonials .container div:first-child i {
    margin-bottom: 20px;
    margin-right: 10px;
    color: #b8460b;
}

#testimonials .container div:first-child p {
    color: #162f24;
}

#testimonials .container div:last-child {
    padding: 100px 0 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

#testimonials .container div:last-child h2 {
    color: #fff;
}

/* FOOTER */

footer>div:first-child {
    background-color: #b8460b;
    padding: 100px;
}

footer>div:first-child h2 {
    color: #fff;
    width: 80%;
    text-align: center;
}

footer>div:first-child img {
    width: 80%;
    border-radius: 15px;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2);
}

footer>div:first-child .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>div:last-child {
    background-color: #162f24;
}

footer>div:last-child .container {
    display: flex;
    justify-content: space-between;
}

footer>div:last-child a {
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
}

footer>div:last-child a:hover {
    color: #b8460b;
}

#copy-right {
    text-align: center;
    border-top: 1px solid #002414;
    padding: 15px;
}

#copy-right p {
    font-size: 15px;
}


@media (max-width: 1200px) {

    .container {
        padding: 10px 50px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    header {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    #bring-nature .container div:first-child {
        padding: 50px 50px 50px 0;
    }

    #bring-nature .container div:last-child {
        padding-left: 50px;
    }

    #services {
        padding-top: 50px;
    }

    #testimonials .container div:first-child {
        padding: 50px 50px 50px 0;
    }

    #testimonials .container div:last-child {
        padding: 50px 0 50px 50px;
    }

    footer>div:first-child {
        padding: 50px;
    }

    footer>div:first-child img {
        width: 70%;
    }
}


@media (max-width: 992px) {

    .container {
        padding: 10px 40px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    .service {
        width: 47%;
        margin-bottom: 50px;
    }

    #bring-nature .container div:first-child {
        width: 100%;
        padding: 50px 0;
    }

    #bring-nature .container div:first-child h2 {
        width: 100%;
    }


    #bring-nature::after {
        width: 100%;
    }

    #bring-nature .container div:last-child {
        display: none;
    }

    #testimonials .container {
        display: block;
        padding: 0;
    }

    #testimonials::before,
    #testimonials::after {
        display: none;
    }

    #testimonials .container div:first-child {
        width: 100%;
        padding: 50px 40px;
    }

    #testimonials .container div:last-child {
        width: 100%;
        padding: 50px;
        background-image: url(../img/header-bg1.jpg);
        background-size: cover;
        height: 350px;
        position: relative;
        align-items: center;
        text-align: center;
    }

    #testimonials .container div:last-child::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -1;
    }

    footer>div:first-child img {
        width: 85%;
    }

}

@media (max-width: 768px) {
    

    .container {
        padding: 10px 30px;
    }

    #logo-title {
        font-size: 20px;
    }

    #nav-button{
        display: block;
    }

    nav ul{
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        background-color: #162f24;
        display: none;
    }
    nav ul li{
        display: block;
        text-align: center;
        padding: 10px;
    }

    nav ul li a{
        margin: 0;
    }

    nav ul.mobile-nav{
        display: block;
    }

    .button {
        font-size: 16px;
        padding: 12px 22px;
    }

    h1 {
        font-size: 36px
    }

    h2 {
        font-size: 26px;
    }

    p,
    header p {
        font-size: 16px;
    }

    .service h3 {
        font-size: 20px;
    }

    #testimonials .container div:first-child{
        padding: 50px 30px;
    }

    footer>div:first-child h2 {
        width: 90%;
    }

    footer>div:first-child {
        padding: 50px 0;
    }

    footer>div:last-child .container {
        flex-direction: column;
        text-align: center;
    }

    footer>div:last-child .container div {
        margin: 10px 0;
    }

    footer>div:last-child a {
        margin: 0 5px;
    }


}

@media (max-width: 600px) {

    h1 {
        font-size: 32px;
    }

    header p {
        width: 100%;
    }

    .service {
        width: 100%;
    }


}